.root {
  height: 30px;
  width: 220px;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 10px 4px 10px;
}

.contained {
  color: white;
  box-shadow: 0px 1px 5px 0px #0000001F, 0px 2px 2px 0px #00000024, 0px 3px 1px -2px #00000033;
}

.contained.primary {
  background: #323330;
}

.contained.secondary {
  background: #F0DB4F;
}

/* .text {
  background-color: transparent;
} */