.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textWrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatarWrapper {
  margin-left: 10px;
}