.userDropdown {
  width: calc(100% - 154px);
}

.searchTextField {
  width: 100%;
}

.logo {
  width: 142px;
}

.contentMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.fileInput {
  margin: 10px;
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 10px;
}

@media (min-width: 476px) {
  .logo {
    width: 220px;
  }

  .userDropdown {
    width: fit-content;
  }

}